@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));  

@theme {
  --color-primary: #4EAD8D;
  --color-secondary: #f5f5f5;

  --font-manrope: "Manrope", sans-serif
}

@layer base {
  h1 {
    @apply text-[clamp(40px,10vw,80px)] font-bold leading-tight
  }

  p {
    @apply text-sm/8 sm:text-base/8
  }

  h2 {
    @apply text-3xl font-bold text-gray-900 mb-4
  }
}

@layer components {
  .btn-primary-100 {
      @apply bg-primary text-white py-2 px-4 text-[12px] rounded-md flex text-center cursor-pointer hover:opacity-75
  }

  .btn-primary-200 {
    @apply bg-white px-4 py-2 rounded-md text-[12px] flex text-center cursor-pointer text-[#1C160C] hover:text-primary transition
  }

  .root-layout {
    @apply max-w-screen min-h-screen font-manrope overflow-x-hidden 
  }

  .container-layout {
    @apply px-4 md:px-10 w-full
  }
}


@utility flex-center {
  @apply flex items-center justify-center;
}